<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rio2016.mascotes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Rio2016Mascotes</name>
    <description>Aplicativo dos Mascotes Rio2016</description>
    <author email="christian.amaral@agenciakindle.com.br" href="http://kindle.com.br">
        Christian Amaral
    </author>

    <content src="index.html" />
    <access origin="*" />

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <gap:plugin name="org.apache.cordova.globalization" version="0.3.1" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />
    <gap:plugin name="com.vladstirbu.cordova.instagram" version="0.4.0" />

    <preference name="EnableViewportScale" value="true" />
</widget>

