/* Smartphones (portrait and landscape) ----------- */
%phoneHtmlStyle {
  font-size: 13px;
}

%tabletHtmlStyle{
  font-size: 15px;
}

$portrait-phone:
  "only screen
    and (max-aspect-ratio: 8/10),
  only screen
    and (max-width: 480px) and (orientation: portrait)";

$landscape-phone:
  "only screen
    and (min-aspect-ratio: 81/100) and (max-height: 480px),
  only screen
    and (max-width: 480px) and (orientation: landscape)";

$landscape-tablet:
  "only screen
    and (min-width: 960px) and (orientation: portrait),
  only screen
    and (min-height: 481px) and (min-aspect-ratio: 1/1)";

$portrait-tablet:
  "only screen
    and (min-width: 481px) and (max-width: 960px) and (orientation: landscape),
  only screen
    and (min-width: 481px) and (max-width: 960px) and (max-aspect-ratio: 1/1)";

/* Smartphones  */

@media #{$portrait-phone} {
  html{
    @extend %phoneHtmlStyle;
  }
}

@media #{$landscape-phone} {
  html{
    @extend %phoneHtmlStyle;
  }
}

/* tablets */

@media #{$landscape-tablet} {
  html{
    @extend %tabletHtmlStyle;
  }
}

@media #{$portrait-tablet} {
  html {
    @extend %tabletHtmlStyle;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  html {
    font-size: 17px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1500px) {
  html {
    font-size: 18px;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}