@function grayscale($value) {
  @return #{"grayscale(" + $value + ")"};
}

.fullWrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}

#SelfieApp {

  >.fullWrapper{
    max-width: 1440px;
    margin: 0 auto;
  }
}
#SelfieApp *, :after, :before {
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
}

#SelfieApp {
  overflow: hidden;
  background: url(#{$basePath}img/bg-default.jpg) center no-repeat;
  background-size: 100% 100%;
}

#SelfieClose {
  background: url(#{$basePath}img/bt-close.png) center no-repeat;
  background-size: contain;
  width: 3em;
  height: 4em;
  line-height: 4em;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  display: block;
  top: .5em;
  right: 1em;
  font-size: large;
  text-decoration: none;
  z-index: 2;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
  }
}

#SelfieApp {
  .alert-box {
    position: relative;
    line-height: 3em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-indent: 1em;
    font-weight: 700;
    font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
    color: #fff;
    z-index: 2;
    &.radius {
      border-radius: 4px;
    }
    &.success {
      background-color: #43ac6a;
    }
    &.alert {
      background-color: #f04124;
    }
    > .close {
      cursor: pointer;
      float: right;
      margin-right: 1em;
    }
  }
  ul {
    list-style: none;
  }
  .sBt {
    background-color: transparent;
    border: none;
    text-decoration: none;
  }
}

#SelfieBtSkip {
  background: url(#{$basePath}img/bt-vamos-nessa.png) center no-repeat;
  background-size: 100% 100%;
  padding: 0 1.5em;
  line-height: 4em;
  height: 5em;
}

#FlexRow {
  @extend .fullWrapper;
}

#FlexRowLeft {
  display: block;
  position: absolute;
  width: auto;
  left: 0; right: 10em;
  height: 100%;
}
.fullCam #FlexRowLeft{
 transform: translateX(5em);
}

#FlexRowRight {
  position: absolute;
  height: 100%;
  width: 10em;
  right: 0;
}

#FlexColumn {
  @extend .fullWrapper;
}

#FlexColumnTop {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0; bottom: 6rem;
}

#FlexColumnBottom {
  position: absolute;
  @media #{$portrait-phone} {
    font-size: $fontSize-small;
  }
  height: 6rem;
  bottom: 0;
  width: 100%;
}

#SelfieApp {
  video {
    object-fit: cover;
  }
  height: 100%;
  position: relative;
  margin: auto;
}

#SelfieBkg {
  position: absolute;
  height: 100%;
  width: 100%;
}

#CanvasWrapper{

}

#SelfieApp.landscape {
  #CanvasWrapper {
    overflow: hidden;
    height: 90%;
    width: 85%;
    margin: 5% auto;
    max-width: 1000px;

    border: 1em solid #4c9023;
    border-width: .8em;

    background: #fffbcc;
    &.isEmpty {
      background: url(#{$basePath}img/bg-canvas.png) center no-repeat #fffbcc;
      background-size: cover;
    }
  }
}

.sBt {
  display: inline-block;
  font-family: TheSansRio2016TT-Bold,sans-serif;
  font-size: $fontSize-largeish;
  line-height: 3em;
  font-weight: 700;
  margin: 0 1em;
  color: #fff!important;
  &:disabled {
    filter: grayscale(1);
    opacity: .8;
  }
}

html:not(.touch) {

  .lameHover {
    transition: transform .4s ease-in;
    &:hover {
      cursor: pointer;
      transform: translateY(-0.3em) scale(1.1) !important;
    }
    &:active {
      transform: translateY(0.1em) !important;
      &:hover {
        transform: translateY(0.1em) !important;
      }
    }
  }
}
.sBt {
  &.error, &.loading, &.saved, &.waiting {
    padding: 0 1.5em;
    border-radius: 25%;
  }
  &.error {
    background-color: #B52929!important;
  }
  &.saved {
    > span {
      animation-name: helloDumbAss;
      animation-duration: 3s;
      animation-iteration-count: 1;
    }
    background-color: #3F9C58!important;
  }
  &.waiting {
    background-color: #969696!important;
  }
  &.loading {
    background-color: #003f54!important;
    > span {
      animation-name: lameRotate;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes helloDumbAss {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  100%,50% {
    transform: scale(1);
  }
}


@keyframes lameRotate {
  0% {
    transform: rotate(0deg) !important;
  }
  50% {
    transform: rotate(180deg) !important;
  }
  100% {
    transform: rotate(360deg) !important;
  }
}

#BtChangeSelfie, #BtGoBack, #SelfieTakePic {
  padding-left: 2em;
  padding-right: 2em;
}

#BtChangeSelfie {
  background: url(#{$basePath}img/bt-trocar.png) center no-repeat;
  background-size: 100% 100%;
}

#SelfieTakePic {
  background: url(#{$basePath}img/bt-tirar-nova.png) center no-repeat;
  background-size: 100% 100%;
  padding: 0 2em;
  text-indent: 1em;
}

#SelfieOpenGallery {
  background: url(#{$basePath}img/bt-escolher-foto.png) center no-repeat;
  background-size: 100% 100%;
  padding: 0 2.2em;
  text-indent: 1em;
}

#BtGoBack {
  background: url(#{$basePath}img/bt-tirar-outra.png) center no-repeat;
  background-size: contain;
  margin: 0 1em 0 12em;
}

#BtProceedToSave {
  background: url(#{$basePath}img/bt-quero-essa.png) center no-repeat;
  background-size: 100% 100%;
  padding-left: 1em;
  padding-right: 3em;
}

#BtDownload {
  background: url(#{$basePath}img/bt-sv.png) center no-repeat;
  background-size: contain;
  position: absolute;
  width: 10em;
  top: -0.7em;
  line-height: 4em;
  text-shadow: 0 0 4px rgba(166, 124, 0, 0.9), -1px 2px 2px rgba(166, 124, 0, 0.9), 1px -1px 1px rgba(166, 124, 0, 0.9);
}

.floatingMascote {
  position: absolute;
  bottom: 2em;
  width: auto;
  height: 50%;
  z-index: 2;
  &:first-child {
    left: -2em;
  }
  &:last-of-type {
    right: -4em;
  }
}

#SelfieSaveMascote1 {
  height: 50%;
  width: auto;
  bottom: 4.5em;
}

#SelfieInitialMascote1, #SelfieInitialMascote2{
  height: 70%;
}
@media (max-width: 1024px) and (max-height: 768px) {
  /*
  #SelfieApp.landscape #FlexRowLeft{
    max-height: 700px;
  }
  #FlexRowRight{
    max-height: 700px;
  }
  */
  #SelfieApp.landscape #SelfieSaveMascote1 {
    height: 40%;
  }
  #SelfieApp.landscape #SelfieSaveMascote2 {
    height: 45%;
  }
}

#SelfieSaveMascote2 {
  bottom: 4em;
}

#BtShareFB, #BtShareTwitter, #BtShareInstagram {
  width: 4em;
}

#BtShareFB {
  background: url(#{$basePath}img/fb-logo.png) center no-repeat;
  background-size: contain;
}

#BtShareTwitter {
  background: url(#{$basePath}img/twitter-logo.png) center no-repeat;
  background-size: contain;
}

#BtShareInstagram {
  background: url(#{$basePath}img/bt-selfie-instagram.png) center no-repeat;
  background-size: contain;
}

#SelfieLogo {
  display: block;
  position: absolute;
  width: 12em;
  height: auto;
  left: 1em;
  top: 1em;
}

#FlexColumn, #FlexRow {
  height: 100%;
}

#SelfieCanvasBorder {
  position: absolute;
  height: 100%;
  width: 100%;
}

.ImgContainer {
  position: absolute;
  &.selected {
    border: 2px solid rgba(88, 172, 250, 0.5);
  }
  > .fullWrapper > img {
    width: 100%;
    height: 100%;
  }
}

#SelfieFileSelector {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

#SelfieOpenGallery {
  position: relative;
}

#SelfieSideMenuWrapper {
  height: 100%;
  position: relative;
  font-size: medium;
  width: 85%;
  margin: 0 auto;
  padding: 10rem 0;
  text-align: center;
}

#SideMenuBox {
  position: absolute;
  top: 6rem;
  bottom: 6rem;
  width: 100%;
  background: url(#{$basePath}img/bg-side-menu.png) center no-repeat;
  background-size: 100% 100%;
  > img {
    width: 100%;
    height: 100%;
  }
}

#SideMenuScrollDown {
  position: absolute;
  display: block;
  width: 100%;
  height: 4rem;
}

#SideMenuScrollUp {
  position: absolute;
  display: block;
  width: 100%;
  height: 4rem;
  background: url(#{$basePath}img/bt-up.png) center no-repeat;
  top: 7rem;
}

#SideMenuScrollDown {
  bottom: 7rem;
  background: url(#{$basePath}img/bt-down.png) center no-repeat;
}

#IScrollWrapper, #SelfieSideMenu {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#IScrollWrapper {
  height: 100%;
  width: auto;
  margin: 0 5%;
}

.SelfieSideMenuItem {
  width: 90%;
  margin: 1em auto;
  background-color: #fffbec;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    cursor: pointer;
    transform: translateY(-0.3em) scale(1.05) !important;
  }

  &:active {
    transform: translateY(0.1em) !important;
    &:hover {
      transform: translateY(0.1em) !important;
    }
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}


.SelfieSideMenuItem {
  border: 3px solid #4f7a00;
  border-radius: 10%;
  border-bottom-width: 7px;
  border-left-width: 4px;
  > img {
    opacity: .4;
    width: 100%;
    height: auto;
  }
  &.selected {
    background-color: #F2E4C6;
  }
}

.SelfiePopupMenuItem.selected > img, .SelfieSideMenuItem.selected > img {
  opacity: 1;
}

#SelfieAppErrors {
  position: absolute;
  width: 100%;
  top: 1em;
  left: 0;
  z-index: 3;
  padding: 0 5%;
  &:empty {
    display: none;
  }
}

@keyframes stupidAnimation {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}


.hasStupidAnimation {
  animation-duration: 3s;
  animation-name: stupidAnimation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#SelfieTela0Content{
  display: block;
  position: absolute;
  width: 50%;
  height: auto;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);

  article > p {
    width: 15em;
    margin: 2em auto;
    font-family: TheSansRio2016TT-Bold,sans-serif;
    font-size: $fontSize-large;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 2px 1px rgba(100, 100, 100, 0.3);
  }
}

#SelfieTela0Mascotes {
  display: block;
  position: absolute;
  width: 50%;
  right: 5%;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  background: url(#{$basePath}img/mascotes/a/tela0-mascotes.png) center no-repeat;
  background-size: contain;
}

#SelfieTela0Logo {
  background: url(#{$basePath}img/tela0-logo.png) center no-repeat;
  background-size: contain;
  width: 90%;
  height: 10rem;
  margin: 1em auto;
}

.en #SelfieTela0Logo {
  background: url(#{$basePath}img/tela0-logo-en.png) center no-repeat;
  background-size: contain;
}

#MenuBtsContainer {
  position: relative;
  text-align: center;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

#SelfieApp.portrait {
  background: url(#{$basePath}img/selfie-bg-mobile.jpg) center no-repeat;
  background-size: 100% 100%;

  .alert-box{
    text-align: left;
    text-indent: 0;
    padding: 1em;
    line-height: 1.2rem;
  }

  .sBt{
    font-size: $fontSize-medium;
  }

  #FlexColumnTop{
    width: 400%;
    left: -150%;
    border-bottom: .5rem solid #4c9023;
    overflow: hidden;
    border-bottom: {
      left-radius: 50%;
      right-radius: 50%;
    }
  }

  #CanvasWrapper{
    overflow: hidden;
    width: 25%;
    margin-left: 37.5%;
    background: #fffbcc;
    &.isEmpty {
      background: url(#{$basePath}img/bg-canvas.png) center no-repeat #fffbcc;
      background-size: auto 100%;
    }
  }

  #SelfieLogo{
    display: none;
  }

  #FlexRowLeft{
    width: 100%;
    transform: none !important;
  }

  #SelfieBkg{
    display: none;
  }

  #FlexRowLeft{
    width: 100%;
  }

  #SelfieTela0Mascotes{
    width: 110%;
    background: url(#{$basePath}img/selfie-mascotes-tela0.png) center no-repeat;
    background-size: contain;
    right: -5%;
    top: 10%;
    height: 80%;
    transform: none;
  }

  #SelfieTela0Content{
    width: 100%;
    height: 100%;
    article{
      visibility: hidden;
    }
  }

  #SelfieTela0Logo{
    width: 100%;
    background: url(#{$basePath}img/tela0-logo.png) left center no-repeat;
    background-size: contain;
    height: 25%;
    margin: 1rem 0 0 1rem;
  }

  #SelfieBtSkip{
    position: fixed;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);

    height: 5em;
    line-height: 5em;
    z-index: 3;
  }

  #MenuBtsContainer{
    position: relative;
    height: 4rem;
    top: 50%;
    transform: translateY(-50%);
  }

  #SelfieTakePic, #SelfieOpenGallery {
    padding: 0;
    width: 6em;
    height: 4em;
    line-height: 5.6em;
    text-indent: 0;
  }

  #SelfieTakePic{
    background: url(#{$basePath}img/bt-tirar-nova-mobile.png) center no-repeat;
    background-size: 100% 100%;
  }

  #SelfieOpenGallery {
    background: url(#{$basePath}img/bt-escolher-foto-mobile.png) center no-repeat;
    background-size: 100% 100%;
  }

  #ShowPopupButton {
    background: url(#{$basePath}img/bt-mascotes.png) center no-repeat;
    background-size: contain;
    width: 40%;
    top: -2rem;
    left: 5px;
    position: absolute;
    height: 7rem;
    line-height: 7rem;
    text-indent: -9999px;
    padding: 0; margin: 0;
  }

  #BtChangeSelfie{
    background: url(#{$basePath}img/bt-trocar-mobile.png) center no-repeat;
    background-size: contain;
    padding: 0;
    height: 3.7rem;
    line-height: 3.7rem;
    width: 22%;
    padding: 0; margin: 0 0 0 40%;
  }

  #BtSharePopup{
    background: url(#{$basePath}img/bt-trocar-mobile.png) center no-repeat;
    background-size: 100% 100%;
    padding: 0;
    height: 3.2rem;
    line-height: 3.2rem;
    width: auto;
    min-width: 8em;
    margin: 0;
    font-size: .9rem;
  }
  &.en{
    #BtSharePopup{
      min-width: 6em;
    }
  }
  #BtDownload{
    position: relative;
    height: 4.5rem;
    line-height: 4.5rem;
    transform: translateY(.2rem);// scale(1.2);
    font-size: .9rem;
    width: 30%;
    text-align: center;
    margin: 0 1em; padding: 0;
    >span{
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #BtGoBack{
    position: relative;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    height: 3.2rem;
    line-height: 3.2rem;
    width: auto;
    min-width: 6em;
    padding: 0;
    margin: 0;
    font-size: .9rem;
  }
  #BtSharePopup, #BtGoBack{
    transform: translateY(-.5rem);
  }
  #BtProceedToSave{
    background: url(#{$basePath}img/bt-quero-essa-mobile.png) center no-repeat;
    background-size: contain;
    width: 22%;
    padding: 0; margin: 0 0 0 .5em;
    text-align: center;
    text-indent: -1.2em;
    height: 3.7rem;
    line-height: 3.7rem;
  }


}

#SelfiePopUpMenuContainer {
  visibility: hidden;
  opacity: 0;
  transform: translateY(10%);

  &.visible{
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }

  transition: visibility .1s ease,
    opacity .4s ease,
    transform .4s ease;

  position: absolute;
  height: auto;
  left: 5%; right: 1em;
  bottom: 5rem;
  margin: auto;
  background-color: rgb(250, 250, 250);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  z-index: 2;
  > .fullWrapper {
    height: auto;
    &:after {
      top: calc(100% + .9em); left: 3em;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(245, 236, 206, 0);
      border-top-color: rgb(250, 250, 250);
      border-width: 10px;
      margin-left: -10px;
      z-index: 1;
    }
  }
}

#SelfiePopupMenuList {
  list-style: none;
  margin: 1em;
  padding: 0;
}

.SelfiePopupMenuItem {
  display: inline-block;
  width: calc(33.333% - .666em);
  height: 5rem;
  margin: .5em 1em 0 0;

  &.lastInRow{
    margin-right: 0;
  }

  border: 2px solid rgb(150, 150, 150);
  border-radius: 10%;

  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
}

#SelfieSharePopup{
  display: block;
  position: absolute;

  visibility: hidden;
  opacity: 0;
  transform: translateY(10%);

  &.visible{
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }

  transition: visibility .1s ease,
    opacity .4s ease,
    transform .4s ease;

  height: auto;
  left: 2rem; width: auto;
  bottom: 4.5rem; margin: 0;
  background-color: rgb(250, 250, 250);
  padding: 0.2rem;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  z-index: 2;

  &:after {
    bottom: -20px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(245, 236, 206, 0);
    border-top-color: rgb(250, 250, 250);
    border-width: 10px;
    margin-left: -10px;
    z-index: 1;
  }

  .sBt{
    display: block;
    height: 3.5rem;
    width: 4rem;
    background-size: 3rem;
    margin: 0 0 .5rem 0; padding: 0;
  }
}

