/* Smartphones (portrait and landscape) ----------- */
%phoneHtmlStyle {
  font-size: 13px;
}
%tabletHtmlStyle{
  font-size: 15px;
}

/* Smartphones  */

@media only screen
  and (min-device-width: 320px) and (max-device-width: 480px)
  and (min-device-height: 481px)
{
  html{
    @extend %phoneHtmlStyle;
  }
}

@media only screen
  and (min-device-height: 320px) and (max-device-height: 480px)
  and (min-device-width: 481px) and (max-device-width: 959px)
{
  html{
    @extend %phoneHtmlStyle;
  }

  #Main{
    visibility: hidden  !important;
  }

  #PleaseRotate{
    display: block  !important;
    background: url(#{$basePath}icons/rotate-phone.png) center no-repeat;
    margin-top: 2rem;
    height: 200px;
  }
}

/* tablets */

@media only screen and (min-width: 960px) and (orientation: landscape) {
  html{
    @extend %tabletHtmlStyle;
  }
}

@media only screen and (min-width: 960px) and (orientation: portrait) {

  html {
    @extend %tabletHtmlStyle;
  }

  #Main {
    visibility: hidden  !important;
  }

  #PleaseRotate {
    display: block !important;
    background: url(#{$basePath}icons/rotate-tablet.png) center no-repeat;
    margin-top: 2rem;
    height: 400px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  html {
    font-size: 17px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1500px) {
  html {
    font-size: 18px;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}