@import "mixins";

$dark-brown: darken(rgb(172, 81, 0), 5%);

body{
  margin: 0; padding: 0;
}

.inner{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}

.AF {
  height: auto;
  width: 100%;

  display: table !important;
  background: url(#{$basePath}img/bg-af.jpg) center/cover no-repeat !important;

  overflow: hidden;
  font-family: "TheSansRio2016TT-Regular", Arial, sans-serif;

  h2{
    text-indent: 0 !important;
  }

  a{
    text-decoration: none;
    font-weight: bold;
  }

  p{
    margin: 1em 0;
  }

  header{
    display: table;
    width: 100%;
    height: 12em;
    //padding: 3em 2em;
  }

  .hoverable{
    @include transition(transform, .4s, cubic-bezier(0.19, 1, 0.22, 1));

    &:hover{
      @include transform(translateY(-0.3em) scale(1.1));
    }

    &:active{
      @include transform(translateY(0.1em));
      &:hover{
        @include transform(translateY(0.1em));
      }
    }
  }

}

.AFNavBt{
  transition: transform .2s ease-out;

  &.left:hover{
    transform: translate3d(-10%, 0, 0);
  }
  &.left:active{
    transform: translate3d(-5%, 0, 0);
  }

  &.right:hover{
    transform: translate3d(10%, 0, 0);
  }
  &.right:active{
    transform: translate3d(5%, 0, 0);
  }
}

#AFClose{
  background: url(#{$basePath}img/bt-close.png) center no-repeat;
  background-size: contain;
  width: 3em;
  height: 4em;
  line-height: 4em;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0.5em; right: 1em;
  font-size: $fontSize-large;
  text-decoration: none;
  z-index: 2;

  @include transition(transform, 0.4s, cubic-bezier(0.19, 1, 0.22, 1));
}

#AFClose:hover{
  color: white;
  text-decoration: none;
  cursor: pointer;
  @include transform(scale(1.2));
}

#AFLogo{
  display: table-cell;
  background: url(#{$basePath}img/af-logo.png) center no-repeat;
  background-size: auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  font-size: $fontSize-xlarge;

}
.en #AFLogo{
  background: url(#{$basePath}img/af-logo-en.png) center no-repeat;
}

#AFNavigation{
  text-align: center;
  margin: 1em 0;
  .AFButtonFlow{

    margin-right: 1em;
    display: inline-block;
    padding: 0 3em;
    line-height: 4em;
    background-size: contain !important;
    text-indent: -9999px;

    &.prev{
      background: url(#{$basePath}img/bt-af-prev.png) center no-repeat;
    }

    &.next{
      background: url(#{$basePath}img/bt-af-next.png) center no-repeat;
    }

    @media only screen and (max-width: 480px) {
      &.prev {
        background: url(#{$basePath}img/bt-af-prev-mobile.png) center no-repeat;
      }

      &.next{
        background: url(#{$basePath}img/bt-af-next-mobile.png) center no-repeat;
      }
    }

    &.disabled{
      @include filter(grayscale(100%));
      opacity: 0.3;
    }
  }
}

#AFContainer{
  display: table-cell;
  vertical-align: middle;
  font-size: $fontSize-medium;
}

.AFContent{
  display: block;
  text-align: center;
  position: relative;
  max-width: 1440px;
  margin: 1em auto;
}

@media only screen and (max-width: 480px) {
  .AF {
    background: url(#{$basePath}img/bg-af-mobile.jpg) center/cover no-repeat !important;
    display: block !important;
  }
  #AFContainer, .AFContent{
    display: block;
    position: relative;
  }
}


@import "welcome";
@import "question";
@import "sports";


