#AFSports{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0,0,0);
  position: relative;
  padding-bottom: 4em;

  *,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  >section{
    display: block;
    position: relative;
    width: 85%;
    margin: 1em auto;
    list-style: none;

    height: 28em;

    @media #{$portrait-phone} {
      height: auto;
      margin-top: 2rem;
    }

    @media (min-height: 900px) and (min-width: 1366px) {
      height: 32em;
    }

    >span{
      @extend .inner;
    }
  }

  #AFLogo{
    width: 50%;
    background-size: 60%;
  }

}

#AFCoolStoryBro{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  line-height: 1.3em;
  color: white;
  font-size: $fontSize-xlarge;
  font-weight: bold;  width: 59%;
  margin-left: -5%;
  text-align: center;
  text-shadow: 1px 2px rgba(30, 50, 100, 0.3);

  strong{
    color: yellow;
    font-size: larger;
  }
}

#AFSlidePrev, #AFSlideNext{
  font-size: $fontSize-large;
  display: inline-block;
  padding: 0 3em;
  line-height: 4em;
  position: absolute;
  top: 15em;
  background-size: contain !important;
  text-indent: -9999px;
  z-index: 3;
}

#AFSlidePrev{
  background: url(#{$basePath}img/bt-af-prev.png) center no-repeat;
  left: 12.5%;
}

#AFSlideNext{
  background: url(#{$basePath}img/bt-af-next.png) center no-repeat;
  right: 12.5%;
}

.AFBTSportDetails{
  display: inline-block;
  color: white;
  width: auto;
  font-size: $fontSize-largeish;
  line-height: 2em;
  height: 2em;
  padding: 0 2em;
  background: url(#{$basePath}img/bt-af-blue.png) center no-repeat;
  background-size: contain;

}
.AFSport {
  display: block;
  position: absolute;
  width: 30%;
  text-align: center;
  height: 100%;

  @media #{$portrait-phone} {
    &:not(.middle) {
      height: 28rem;
    }
  }

  overflow: visible;
  line-height: 1.5em;
  top: 0;

  transition: all .2s ease-out;

  h2{
    font-size: $fontSize-large;
    font-weight: bold;
    color: rgb(0, 145, 214);
    margin: 0;
    line-height: 2em;
    width: 100%;

    overflow: hidden;
    height: 2em;
    white-space: nowrap;
    text-overflow: ellipsis;

    >span{
      display: inline;
    }
  }

  .AFSPortContent{ }

  .AFSportImg{
    height: 20em;
    position: relative;
    .img{
      display: block;
      position: absolute;
      height: 110%;
      width: 110%;
      top: -10%;
      left: -5%;
    }
  }

  .AFInfo{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: $fontSize-xlarge;
  }


  >.inner{
    background: url(#{$basePath}img/card-af-small.png) center no-repeat;
    background-size: 88% 100%;
    padding: 0;
  }
}

.AFSPortContent{
  padding: 5% 11% 7% 11%;
}

.AFSport.expanded{
  text-align: left;

  .AFBTSportDetails{
    font-size: $fontSize-medium;
    line-height: 2.5em;
    height: 2.5em;
  }

  h2{
    text-align: left;
    line-height: 1.2em;
    height: auto;
    white-space: normal;
  }

  .AFSPortContent{
    display: block;
    position: relative;
  }

  .AFSportImg{
    position: absolute;
    width: 40%;
    height: 100%;
    .img{
      display: block;
      position: absolute;
      height: 110%;
      width: 150%;
      top: -5%;
      left: -35%;
    }
  }

  .AFInfo{
    text-align: center;
    display: block;
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;
    overflow-y: auto;
    padding-left: 2em;
    font-size: $fontSize-large;

    article{
      max-width: 30em;
      text-align: left;
      font-size: $fontSize-medium;
    }
  }

  .AFInfoWrapper {
    display: block;
  }

  .AFInfoTB{
    display: table;
    height: 100%;
  }

  .AFInfoExpansible{
    display: table-cell;
    vertical-align: middle;
    height: auto;
  }

  .AFInfoExpansible.mid{
    top: 50%;
    transform: translateY(-50%);
  }

  >.inner{
    background: url(#{$basePath}img/card-af-large.png) center no-repeat;
    background-size: 88% 100%;
  }


}

.AFDoSomething{
  display: block;
  position: relative;
  text-align: left;
  font-size: $fontSize-medium;

  @media (max-width: 1366px) {
    font-size: $fontSize-small;
  }

  line-height: 3em;
  margin-top: 2em;
  text-align: center;
  >a{

  }
  .share{
    font-size: $fontSize-small;
  }
  .share-fb, .share-tw{
    display: inline-block;
    width: 3em;
    height: 3em;
  }
  .share-fb{
    background: url(#{$basePath}img/af-fb.png) center no-repeat;
    background-size: contain;
    margin-left: 0.7em;
  }
  .share-tw{
    background: url(#{$basePath}img/af-twitter.png) center no-repeat;
    background-size: contain;
  }
  .share-this{

    display: inline-block;

    color: rgb(150, 150, 150);
    font-weight: bold;
    position: absolute;
    top: -3em;
    width: 100%;

    @media (max-width: 1280px) {
      display: block;
      position: relative;
      top: 0;
    }
  }
  >.share{
    display: inline-block;
    position: relative;
    height: 100%;
    margin-left: 0.5em;
  }
}
.AFSport.first{
  left: 10%;
}

.AFSport.first,
.AFSport.last{

  cursor: pointer;
  .AFSPortContent{
    padding: 10% 13%;
  }

  opacity: .7;

  >.inner{
    height: 80%;
    margin: 10% 0;
  }
}

.AFSport.middle{
  z-index: 2;
  width: 50%;
  left: 25%;

  @media #{$portrait-phone} {
    width: 95%;
    left: 2.5%;
    >.inner{
      background-size: 100% 100%;
    }
  }

}

.AFSport.expanded.middle{
  width: 70%;
  left: 15%;

  @media #{$portrait-phone} {
    width: 95%;
    left: 2.5%;
    >.inner{
      background-size: 100% 100%;
    }
  }
}

.AFSport.last{
  right: 10%;

}

#AFSportsGoBack{
  width: auto;
  display: block;
  position: fixed;
  z-index: 2;
  padding: 0 2em 0 2em;
  @media only screen and (min-width: 481px) and (min-aspect-ratio: 1/1) {
    bottom: 1em;
    right: -1em;
  }
  line-height: 3em;
  text-align: right;
  background: url(#{$basePath}img/bt-af-back.png) right center no-repeat;
  background-size: 100%;
  font-size: $fontSize-largeish;
  font-family: "TheSansRio2016TT-Regular", Arial, sans-serif;
  color: $dark-brown;
  transition: transform .2s ease-out;
  &:hover{
    transform: translateX(-1em);
  }
  &:active{
    transform: translateY(-0.7em);
  }
}



#AFSportsIndex{
  background: url(#{$basePath}img/af-sports-index.png) center no-repeat;
  background-size: contain;
  padding: 0; margin: 0;
  line-height: 3.5em;

  font-weight: bold;
  color: $dark-brown;

  position: absolute;
  display: block;
  bottom: 3rem;
  left: 0;
  z-index: 2;
  width: 100%;
}


.AFPopBt{
  transition: transform .2s ease-out;
  &:hover{
    transform: scale(1.02) translateY(-0.3em) !important;
  }
  &:active{
    transform: scale(1.02) translateY(0em) !important;
  }
}

@media #{$portrait-phone} {

  #AFSports {

    header{
      display: block;
      height: auto;
    }

    #AFLogo{
      display: block;
      position: relative;
      width: 80%;
      height: 7rem;
      margin: 0.5rem auto;
      background-size: 70%;
    }

    #AFCoolStoryBro{
      display: block;
      position: relative;
      font-size: $fontSize-large;
      width: 100%;
      margin: 2rem 0; padding: 0;
    }

    &.expanded {

      #AFCoolStoryBro, #AFSlidePrev, #AFSlideNext {
        display: none;
      }

      > section {
        height: auto;
        width: 90%;
      }

      .AFSport.first,
      .AFSport.last{
        display: none;
      }
    }
  }

  #AFSportsIndex {
    display: none;
  }

  #AFSlidePrev, #AFSlideNext {
    font-size: $fontSize-medium;
    width: 3em;
    padding: 0;
    line-height: 4em;
    position: absolute;
    top: 26rem;
  }

  #AFSlidePrev {
    background: url(#{$basePath}img/bt-af-prev.png) center no-repeat;
    left: .5%;
  }

  #AFSlideNext {
    background: url(#{$basePath}img/bt-af-next.png) center no-repeat;
    right: .5%;
  }

  #AFSportsGoBack {

    display: none;
    font-size: .8rem;
    background: url(#{$basePath}img/bt-af-back-mobile.png) right center no-repeat;
    background-size: contain;

    &.expanded {
      display: block;
      position: absolute;
      top: 9rem;
      margin-left: 1em;
    }

  }
  .AFSport.middle{
    position: relative;
  }

  .AFSport.middle.expanded{

    .AFInfo{
      padding-left: 0;
      height: auto;
      h2, article{
        text-align: center;
      }
      h2{
        margin-top: 1rem;
        font-size: $fontSize-xlarge;
      }
      article{
        text-align: justify;
        line-height: 1.3em;
        font-size: .85rem;
      }
    }

    .AFInfoTB, .AFInfoExpansible{
      display: block;
    }

    .AFSportImg, .AFInfo{
      display: block;
      position: relative;
      width: 100%;
    }

    .AFSportImg{
      height: 8rem;
      transition: height .3s ease, width .3s ease, top .3s ease, left .3s ease;
      .img{
        height: 140%;
        width: 120%;
        top: -40%;
        left: -10%;
      }
    }

  }

  .AFSport.first,
  .AFSport.last{
    width: 60%;
    >.inner {
      margin: 20% 0 0 0;
    }
  }

  .AFSport.first{
    left: -5%;
  }

  .AFSport.last{
    right: -5%;
  }
}