#AFWelcome{
  display: table;
}

#AFWelcomeText{
  font-weight: bold;
  font-size: $fontSize-large;
  text-align: center;
  line-height: 1em;
  margin: 0 5%;
  padding: 2rem 0;

  background: url(#{$basePath}img/af-text-container.png) center no-repeat;
  background-size: 100% 100%;
  height: auto;


  >article{
    margin: 0 8%;

    >p{
      font-size: $fontSize-medium;
      color: white;

      &:first-child {
        font-size: $fontSize-large;
        color: yellow;
        margin-bottom: 1em;
      }

      &:last-child{
        margin-top: 1em;
        font-size: $fontSize-large;
      }
    }
  }
}

#AFWelcomeTextWrapper{
  height: auto;
}

#AFWelcomeAction{
  z-index: 2;
  position: relative;
  width: 100%;
  font-size: $fontSize-large;
  transform: translateY(-2rem);

  a{
    display: inline-block;
    width: 10em;
    text-align: center;
    line-height: 4em;
    color: white;

    background: url(#{$basePath}img/bt-af-proceed.png) center no-repeat;
    background-size: contain;
  }
}

#AFWelcomeLeft, #AFWelcomeRight{
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#AFWelcomeLeft{
  width: 60%;
  text-align: center;
  padding: 0 0 0 10%;

  #AFLogo{
    display: block;
    height: 9rem;
    margin-bottom: 2rem;
    background-size: contain;
  }
}

#AFWelcomeRight {
  background: url(#{$basePath}img/af-mascotes.png) left center no-repeat;
  background-size: 80%;
}

@media #{$portrait-phone} {

  #AFWelcome{
    display: block;
    position: relative;
  }

  #AFWelcomeLeft {
    display: block;
    position: relative;
    width: 100%;
    min-height: 25rem;
    z-index: 2;
    margin: 0; padding: 2rem 0;
    >.inner{
      height: auto;
    }
    #AFWelcomeText{
      display: none;
    }

    #AFLogo{
      position: relative;
      background-size: auto 90%;
      height: 7rem;
      margin-bottom: 0;
    }

    #AFWelcomeAction{
      position: relative;
      margin-top: 22rem;
    }
  }

  #AFWelcomeRight {
    display: block;
    position: absolute;
    height: 20rem;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 9rem;
    background-size: auto 100%;
    background-position: center;
  }
}